<nav class="main-nav">
  <div class="logo">
    <a href="/">
      M
    </a>
  </div>

  <ul class="items-top">
    <li>
      <a href="#">
        <i class="fa fa-random"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-search"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-sort-amount-asc"></i>
      </a>
    </li>
  </ul>
  <ul class="items-bottom">
    <li>
      <a href="#">
        <i class="fa fa-cog"></i>
      </a>
    </li>
  </ul>
</nav>