.main-nav
  position fixed
  left 0
  top 0
  height 100%
  width 60px
  background #0073d9 //#b81800

ul
  margin 0
  padding 0

  li
    text-align center
    list-type none
    color #FFF
    padding 5px 0
    font-size 1.3rem

    a
      color #fff
    a:hover
      color #fff

.items-bottom
  position absolute
  bottom 0
  width 100%

.logo
  color #fff
  background #26211d
  text-align center
  padding 10px 0
  margin-bottom 10px

  a
    color #fff