<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Moviezio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    {{> sidebar}}

    <div id="st-container" class="st-container st-effect-14">
      <!-- content push wrapper -->
      <div class="st-pusher">
        <nav class="st-menu st-effect-14" id="menu-14">
          <ul class="sidebar-menu">
            <li><a class="icon icon-data" href="#">New releases</a></li>
            <li><a class="icon icon-location" href="#">Popular</a></li>
            <li><a class="icon icon-study" href="#">Recomended</a></li>
            <li><a class="icon icon-study" href="#">By Genre</a></li>

            <li><a class="icon icon-data" href="#">Action Adventure</a></li>
            <li><a class="icon icon-location" href="#">Anime</a></li>
            <li><a class="icon icon-study" href="#">Children and Family</a></li>
          </ul>
        </nav>

        <div class="st-content"><!-- this is the wrapper for the content -->
          <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
            {{{body}}}
          </div><!-- /st-content-inner -->
        </div><!-- /st-content -->
      </div><!-- /st-pusher -->
    </div><!-- /st-container -->

    <script src="/js/main.js"></script>
  </body>
</html>
